@using GOBrothers.HtmlHelpers
@model GOBrothers.Areas.Admin.Models.AdminAlbumsListViewModel

@{
    ViewBag.Title = "AdminAlbums";
}

@foreach (var a in Model.Albums)
{
    Html.RenderPartial("AdminAlbumSummaryPartial", a);
}

<br />
<p>@Html.ActionLink("Додати альбом", "AlbumCreate", "AdminGallery", new { area = "admin" }, null)</p>

<!-- Message if album deleted -->
<h4 style="color:red">@TempData["message"]</h4>

<!-- Pagination -->
@if (Model.PagingInfo.TotalPages > 1)
{
    <div class="pager">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("AdminAlbumsList", new { page = x }))
    </div>
}