@model GOBrothers.Domain.Entities.Post

<div class="item">
    <div><h3>@Html.RouteLink(Model.Title, new { controller = "Post", action = "PostById", postId = Model.Id }) </h3></div>
    <div style="float:left;"><a href='~/Content/PostImages/@Model.Id.ToString()/Logo/logo.jpg' rel='prettyPhoto[pp_gal]'><img class="logo" src='~/Content/PostImages/@Model.Id.ToString()/Logo/logo_small.jpg' alt=''/></a></div>
    <div>@Html.Raw(Model.ShortContent)</div>
    <div style="clear:left;">Категорія: @Html.RouteLink(Model.Blog.Name, new { controller = "Post", action = "List", blogId = Model.Blog.Id })</div>
    @{
        string Created = "";
        if (Model.Created != null) { Created = Model.Created.Value.ToString("dd.MM.yyyy H:mm:ss"); }
    }
    <div style="color:#808080;font-size:10px;">Додано/редаговано: @Created</div>
</div>