@using System.IO;
@model GOBrothers.Domain.Entities.AlbumImage

@{
    ViewBag.Title = "Image";
}

<div class="item">
    @{ string rndNameImage = Model.RndName; string rndNameImageSmall = Path.GetFileNameWithoutExtension(Model.RndName) + "_small" + Path.GetExtension(Model.RndName); }
    <h3>@Model.OriginalName</h3>
    <a href='~/Content/GalleryImages/@Model.Id.ToString()/@rndNameImage' rel='prettyPhoto[pp_gal]'><img src='~/Content/GalleryImages/@Model.Id.ToString()/@rndNameImageSmall' alt='' /></a>
</div>

<div>
    <br>
    <!--Html.RouteLink("Повернутися до зображень", new { controller = "Gallery", action = "ImagesList", albumId = Model.AlbumId })-->
    @Html.ActionLink("Повернутися", null, null, null, new { href = Request.UrlReferrer })
</div>