
@{
    ViewBag.Title = "Про нас";
}
<h3>@ViewBag.Title.</h3>
<!-- <h4>@ViewBag.Message</h4> -->
<br>
<div style="float:left"><a href="/Content/images/Feshchuks.jpg" rel="prettyPhoto[pp_gal]"><img src="/Content/images/Feshchuks_small.jpg" alt="" class="logo"/></a></div>
<div>
    <h4>Геннадій та Олег Фещуки</h4>
    <p>розробники</p>
</div>
<div style="clear:left">
    <hr />
    <p>Ми займаємось розробкою програмного забезпечення та графічного дизайну.</p>
    <p>Використовуємо ASP.NET MVC та Django для веб-розробки.</p>
    <p>Також різні технології - HTML, CSS, Twitter Bootstrap, JQuery та інше.</p>
<div>
