
@{
    ViewBag.Title = "Зв’язок з нами";
}

<h2>@ViewBag.Title.</h2>
<h4>@ViewBag.Message</h4>
<br>

<address>
    GOBrothers<br />
    м.Рівне<br />
</address>

<address>
    <strong>Підтримка:</strong>   <a href="mailto:genich_f@hotmail.com">genich_f@hotmail.com</a><br />
</address>

